
html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow: overlay;
}


/*-----스크롤바css--------*/

::-webkit-scrollbar {
    width: 13px;
    height: 12px;
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-track {
    background: rgba(242, 242, 242, 0);
}
::-webkit-scrollbar-thumb {
    background: rgba(221, 221, 221, 0);
    border-radius: 3px;
}
body:hover::-webkit-scrollbar-thumb {
    background: rgba(242, 242, 242, 0);
}
body.scrolling::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:vertical:hover {
    border-radius: 8px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgba(179,157,219,0.6)),
    color-stop(0.72, rgba(103,58,183,0.6)),
    color-stop(0.86, rgba(69,39,160,0.6)));
}



.datepicker-table td.is-selected,
.datepicker-date-display{
    background-color: rgba(103,58,183,0.6);
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done{
    color: rgba(103,58,183,1);
}
.datepicker-day-button:focus{
    background-color: rgba(179,157,219,0.6);
}


.datepicker-date-display,
.datepicker-date-display .year-text{
    color: white;
}


/*---------------join div 숨기고 나타내기-------------------*/


#div-title-toggle{
    transform: translateY(-17px);

}

.customToasts {
    background-color: rgba(255,205,201,0.8);
    color : red;
}

/*-------------------------index input----------------------------*/



#urlBar > div:nth-child(1) {
    height: 50px;
    border: white 1px;
    border-radius: 50px;
    background-color: #FFFFFF;
    padding: 0px;
}

#urlBar > div > a:first-child{
    background-color: white;
    height: 50px;
    font-size: 1vw;
    border-radius: 50px;
    color: black;
}

#urlBar > div > a:first-child:hover{
    background-color: rgb(235,235,235);
}

#urlBar > div > a:nth-child(3){
    background-color: rgba(103,58,183,1);
    height: 50px;
    font-size: 1vw;
    border-radius: 50px;
    /*border: white 5px solid;*/
    color: white;

}


/*#urlBar {*/
/*    position: relative;*/
/*}*/

/*#urlBar > div:nth-child(2) {*/
/*    position: relative;*/
/*    border-radius: 30px;*/
/*    left:0px;*/
/*    top: 15px;*/
/*    display: none;*/
/*    height: 200px;*/
/*    background-color:white;*/
/*    box-shadow: 5px 5px 15px black;*/
/*}*/

/*-----------------------팝업----------------------------*/
#index-banner {
    height: 600px;
}

.classification {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px!important;
    bottom: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100!important;
}

.classification.show {
    display: block;
}

.classification-dialog {
    margin: 0 auto;
    background-color: white;
    position: absolute;
    top: 260px;
    /*transform: translateY(60%);*/
            /*260px;*/
    z-index: 100!important;
    border-radius: 50px;
    box-shadow: 3px 3px 10px black;


}

.classification-content {
    padding:10px 15px;
    text-align: left;
    /*line-height: 100px;*/
    z-index:  100!important;
    height: 400px;
    min-height: 120px;
}

/*--------------------------------------*/
/*-------- pluse effect --------------*/

.blob {
    background: rgba(255,255,255,0);
    box-shadow: 0 0 0 0 rgba(103,58,183,0.7);
    transform: scale(1);
    animation: pulse 2s infinite;
    border-radius: 20px;
}


@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(103,58,183,0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* 커스텀 인풋*/
#modifyForm Input:disabled {
    border-bottom: solid black 1px;!important;
    background-color: lightgray;
}
/* label focus color */
#modifyForm Input:focus + label {
    color: #5e35b1;!important;
}

/* valid color */
#modifyForm Input.valid {
    border-bottom: 1px solid #5e35b1;!important;
    box-shadow:  0px 0px  0 0 #4527a0;!important;
}
/* invalid color */
#modifyForm Input.invalid {
    border-bottom: 1px solid #d32f2f ;!important;
    box-shadow: 2px 1px 2px 0 #b71c1c;!important;
}
/* label underline focus color */
#modifyForm Input:focus {
    border-bottom: 1px solid #5e35b1;
    box-shadow: 0px 1px 0px 0 #4527a0;
}

/*========= 커스텀 버튼 ================*/

.customRedBtn {
    color: white!important; /* White text */
    cursor: pointer; /* Pointer/hand icon */

    background-color: rgb(236,65,52) !important;
}
.customRedBtn:hover {
    background-color:  rgb(236,65,52)!important;
    filter: brightness(0.6)!important;
}

.customRedBtn:active,
.customRedBtn:focus{
    background-color:  rgb(236,65,52) !important;
}
/* ===================================================QNA========================================================= */
#tagInputDiv {
    border: 1px rgb(209,209,209) solid;
    height: 100%;
    border-radius: 5px;
    padding: 0;
}

#tagInputDiv:focus-within{
    border: 2px #b39ddb solid;
}

/* 커스텀 인풋*/
/* label focus color */
#tagInputDiv i {
    color: rgb(209,209,209);
}

#tagInputDiv Input[type=text]:focus + label {
    color: #5e35b1;!important;
    border-bottom: 0px solid #5e35b1;
}

/* valid color */
#tagInputDiv Input[type=text].valid {
    border-bottom: 1px solid #5e35b1;!important;
    box-shadow:  0px 0px  0 0 #4527a0;!important;
}
/* invalid color */
#tagInputDiv  Input[type=text].invalid {
    border-bottom: 1px solid #d32f2f ;!important;
    box-shadow: 2px 1px 2px 0 #b71c1c;!important;
}
/* label underline focus color */
#tagInputDiv Input[type=text]:focus {
    border-bottom: 0px solid #5e35b1;
    box-shadow: 0 0 0 0 #b71c1c;!important;

}

/* icon prefix focus color */
#tagInputDiv .prefix.active {
    color: #b39ddb;!important;
}

.waves-effect.waves-customPurple .waves-ripple {
    background-color:  #b39ddb!important;
    opacity: 0.7;
}

.freeBoardHeader {
    margin-top: 20px;
    margin-bottom: 5px;
}

.freeBoardHeader ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px!important;
    padding-right: 10px!important;
}

.freeBoardHeader ul {
    margin: 0;
}