
html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow: overlay;
}


/*-----스크롤바css--------*/

::-webkit-scrollbar {
    width: 13px;
    height: 12px;
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-track {
    background: rgba(242, 242, 242, 0);
}
::-webkit-scrollbar-thumb {
    background: rgba(221, 221, 221, 0);
    border-radius: 3px;
}
body:hover::-webkit-scrollbar-thumb {
    background: rgba(242, 242, 242, 0);
}
body.scrolling::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:vertical:hover {
    border-radius: 8px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgba(179,157,219,0.6)),
    color-stop(0.72, rgba(103,58,183,0.6)),
    color-stop(0.86, rgba(69,39,160,0.6)));
}



.datepicker-table td.is-selected,
.datepicker-date-display{
    background-color: rgba(103,58,183,0.6);
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done{
    color: rgba(103,58,183,1);
}
.datepicker-day-button:focus{
    background-color: rgba(179,157,219,0.6);
}


.datepicker-date-display,
.datepicker-date-display .year-text{
    color: white;
}


/*---------------join div 숨기고 나타내기-------------------*/


#div-title-toggle{
    transform: translateY(-17px);

}

.customToasts {
    background-color: rgba(255,205,201,0.8);
    color : red;
}

/*-------------------------index input----------------------------*/



#urlBar > div:nth-child(1) {
    height: 50px;
    border: white 1px;
    border-radius: 50px;
    background-color: #FFFFFF;
    padding: 0px;
}

#urlBar > div > a:first-child{
    background-color: white;
    height: 50px;
    font-size: 1vw;
    border-radius: 50px;
    color: black;
}

#urlBar > div > a:first-child:hover{
    background-color: rgb(235,235,235);
}

#urlBar > div > a:nth-child(3){
    background-color: rgba(103,58,183,1);
    height: 50px;
    font-size: 1vw;
    border-radius: 50px;
    /*border: white 5px solid;*/
    color: white;

}


/*#urlBar {*/
/*    position: relative;*/
/*}*/

/*#urlBar > div:nth-child(2) {*/
/*    position: relative;*/
/*    border-radius: 30px;*/
/*    left:0px;*/
/*    top: 15px;*/
/*    display: none;*/
/*    height: 200px;*/
/*    background-color:white;*/
/*    box-shadow: 5px 5px 15px black;*/
/*}*/

/*-----------------------팝업----------------------------*/
#index-banner {
    height: 600px;
}

.classification {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px!important;
    bottom: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100!important;
}

.classification.show {
    display: block;
}

.classification-dialog {
    margin: 0 auto;
    background-color: white;
    position: absolute;
    top: 260px;
    /*transform: translateY(60%);*/
            /*260px;*/
    z-index: 100!important;
    border-radius: 50px;
    box-shadow: 3px 3px 10px black;


}

.classification-content {
    padding:10px 15px;
    text-align: left;
    /*line-height: 100px;*/
    z-index:  100!important;
    height: 400px;
    min-height: 120px;
}

/*--------------------------------------*/
/*-------- pluse effect --------------*/

.blob {
    background: rgba(255,255,255,0);
    box-shadow: 0 0 0 0 rgba(103,58,183,0.7);
    transform: scale(1);
    animation: pulse 2s infinite;
    border-radius: 20px;
}


@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(103,58,183,0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* 커스텀 인풋*/
#modifyForm Input:disabled {
    border-bottom: solid black 1px;!important;
    background-color: lightgray;
}
/* label focus color */
#modifyForm Input:focus + label {
    color: #5e35b1;!important;
}

/* valid color */
#modifyForm Input.valid {
    border-bottom: 1px solid #5e35b1;!important;
    box-shadow:  0px 0px  0 0 #4527a0;!important;
}
/* invalid color */
#modifyForm Input.invalid {
    border-bottom: 1px solid #d32f2f ;!important;
    box-shadow: 2px 1px 2px 0 #b71c1c;!important;
}
/* label underline focus color */
#modifyForm Input:focus {
    border-bottom: 1px solid #5e35b1;
    box-shadow: 0px 1px 0px 0 #4527a0;
}

/*========= 커스텀 버튼 ================*/

.customRedBtn {
    color: white!important; /* White text */
    cursor: pointer; /* Pointer/hand icon */

    background-color: rgb(236,65,52) !important;
}
.customRedBtn:hover {
    background-color:  rgb(236,65,52)!important;
    filter: brightness(0.6)!important;
}

.customRedBtn:active,
.customRedBtn:focus{
    background-color:  rgb(236,65,52) !important;
}

/* 태그 버튼*/

.tagBtn {
    margin: 5px 4px;
    padding: 0 8px!important;
    display: flex;
    align-items: center;
    height:20px;

    color: #65499c!important; /* White text */
    font-weight: 500;
    cursor: pointer; /* Pointer/hand icon */

    background-color: #ede7f6 !important;
}
.tagBtn:hover {
    background-color:  #ede7f6!important;
    /*filter: brightness(0.6)!important;*/
}

.tagBtn:active,
.tagBtn:focus{
    background-color:  #ede7f6 !important;
}
.tagBtn i{
    color: #65499c!important;
}

/* ===================================================QNA========================================================= */
.focusBorderPurple {
    border: 1px rgb(209,209,209) solid;
    height: 100%;
    border-radius: 5px;
    padding: 0;
    transition: 0.5s;
}

.focusBorderPurple:focus-within{
    border: 2px #b39ddb solid!important;
}


/* 커스텀 인풋*/
/* label focus color */
.focusBorderPurple i {
    color: rgb(209,209,209);
}

/* test ----------------------*/
.focusBorderPurple .inputDiv Input[type=text]:focus + label {
    color: #5e35b1;!important;
    border-bottom: 0px solid #5e35b1;!important;
}
/* valid color */
.focusBorderPurple .inputDiv Input.valid {
    border-bottom: 0px solid #5e35b1;!important;
    box-shadow:  0px 0px  0 0 #4527a0;!important;
}
/* invalid color */
.focusBorderPurple .inputDiv Input.invalid {
    border-bottom: 0px solid #d32f2f ;!important;
    box-shadow: 0 0 0 0 #b71c1c;!important;
}
/* label underline focus color */
.focusBorderPurple .inputDiv Input[type=text]:focus {
    border-bottom: 0px solid #5e35b1!important;
    box-shadow: 0 0 0 0  #b71c1c;!important;
}

/* icon prefix focus color */
.focusBorderPurple:focus-within div>i{
    color: #b39ddb;!important;
}

.waves-effect.waves-customPurple .waves-ripple {
    background-color:  #b39ddb!important;
    opacity: 0.7;
}

.freeBoardHeader {
    margin-top: 20px;
    margin-bottom: 5px;
}

.freeBoardHeader ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px!important;
    padding-right: 10px!important;
}

.freeBoardHeader ul {
    margin: 0;
}

 /*커스텀 셀렉터*/
.focusBorderPurple .select-wrapper input{
    margin: 0;
    padding: 0;
    border: 0 solid white!important;
    text-align:left;
    color: rgb(209,209,209);
}

.focusBorderPurple:focus-within .select-wrapper input{
    color: #b39ddb!important;
}

.focusBorderPurple .select-wrapper ul{
    width: 100%;
    height: auto;
    top: 46px!important;
    left: -25px!important;

}
.focusBorderPurple .select-wrapper ul li span{
    color: #b39ddb;
    padding: 7px;
}
.focusBorderPurple .select-wrapper ul li{
    min-height: 0;
}

.freeBoardHeader ul li a{
    color: rgb(209,209,209);
    font-weight: bold;
}
.freeBoardHeader ul li svg path{
    fill: rgb(209,209,209);
}

.freeBoardHeader ul li.active a{
    color: #000000;
    font-weight: bold;
}
.freeBoardHeader ul li.active svg path{
    fill: #b39ddb;
}

/*페이저 넘 색 변경*/
.pageNumUl > li.active {
    background-color: #b39ddb;
}

.commentPageNum > li.active {
    background-color: #b39ddb;
}

/*게시판 글쓰기 오른쪽 슬라이더*/

.right-side-slider a{
    margin-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.right-side-slider a i{
    margin-right: 8px;
}

/* 버튼 커스텀 하얀색*/

.customWhiteBtn {
    color: black!important; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 10px;!important;
    background-color: #ffffff !important;
    box-shadow: 0 0 0 1px lightgray;
}
.customWhiteBtn:hover {
    background-color: #ffffff!important;
    filter: brightness(0.9)!important;
    box-shadow: 0 0 0 1px lightgray;
}

.customWhiteBtn:active,
.customWhiteBtn:focus{
    background-color:  #ffffff !important;
}

/*커스틈 버튼 보라색*/
.customPurpleBtn {
    color: white!important; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 10px;!important;
    background-color: #b39ddb !important;
    box-shadow: 0 0 0 1px #b39ddb;
}
.customPurpleBtn:hover {
    background-color: #b39ddb!important;
    filter: brightness(0.9)!important;
    box-shadow: 0 0 0 1px #b39ddb;
}

.customPurpleBtn:active,
.customPurpleBtn:focus{
    background-color:  #b39ddb !important;
}

/* 게시판 링크*/
.freeBoardLink{
    margin-right: 10px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
/*게시판 텍스트 에어리어 줄색 없앰*/
.commentDiv textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 0 solid #9e9e9e!important;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 14px!important;
}

.commentDiv textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 0 solid white!important;
    -webkit-box-shadow: 0 0 0 0 #26a69a!important;
    box-shadow: 0 0 0 0 #26a69a!important;
}

.commentDiv textarea.materialize-textarea:focus:not([readonly]) + label {
    color: white!important;
}

/*첨부파일 팝업창*/
/*#attachListModalLayout {*/
/*    overflow-y: auto;*/
/*    position: absolute;*/
/*    !*top: 100%;*!*/
/*    right: 0;*/
/*    z-index: 100;*/
/*    max-width: 500px;*/
/*    max-height: 416px;*/
/*    margin-top: 6px;*/
/*    padding: 10px 0;*/
/*    border: 1px solid rgba(0,0,0,.06);*/
/*    border-radius: 6px;*/
/*    box-shadow: 0 1px 12px 0 lightgray;*/
/*    background-color: #fff;*/
/*    box-sizing: border-box;*/
/*    color: #000;*/
/*}*/


/*.layer-popup {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    background-color: rgba(100, 0, 0, 1);*/
/*    z-index: 100;*/
/*}*/

.custom-modal-content.show {
    display: flex;
}

.custom-modal-content {
    display: none;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    right: 0;
    max-width: 500px;
    max-height: 416px;

    z-index: 1000!important;
    margin-top: 6px;
    padding: 10px 0;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 6px;
    box-shadow: 0 1px 12px 0 lightgray;
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
}

.comment-options{
    display: block;
    min-width: 100px;
    height: 36px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 37px;
    white-space: nowrap;
    color: #000;
    cursor:pointer;
}
.comment-options:hover{
    background-color: rgb(245,246,248);
}

.attachListFileItem{
    padding: 5px 15px;
}

.attachListFileItem:hover{
    background-color: rgb(245,246,248);
}

.file_name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 100%;
}
.file_download{
    cursor: pointer;
}


/*.modal-content {*/
/*    text-align: center;*/
/*    line-height: 100px;*/
/*    background-color: lightgray;*/
/*}*/


